.navbar-nav .nav-link {
    color: black !important;
}

.navbar-nav .nav-link:hover {
    color: black !important;
}

body {
    font-family: 'Lato', sans-serif;
    background: #f8f9fa;
}

#blogtitle {
    font-size: 6rem;
}

.portfolio-avatar {
    border-radius: 50%;
    width: 60%;
    align-self: center;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}